@import url("./style.min.css");
@import url("./style.header.css");
@import url("./style.gdp.css");
@import url("./style.structure.css");
@import url("./style.oilgas.css");
@import url("./style.footer.css");

.container {
  margin: auto;
  width: 1254px;
}
.deffList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.h2-deff {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
