.header__title {
  padding-top: 64px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  max-width: 780px;
}

.header h2 {
  margin-top: 46px;
  font-family: "Montserrat", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.filters {
  margin-top: 46px;
}
.filters__list {
  box-sizing: border-box;
  margin-bottom: 82px;
  width: 1240px;
  gap: 20px 14px;
  padding-right: 20px;
}

.filters__item {
  padding: 8px 12px;
  border-radius: 27px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 38px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  user-select: none;

  border: 1px solid #e8e8e8;
}

.filters__item img {
  width: 22px;
  height: 22px;
}

.filters__item-acitve {
  color: #fff;
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  border: 1px solid #ef5f31;
  background-color: #ef5f31;
}
